.Voting__root {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.Voting__switcher {
    font-family: "PressStart2P";
    font-size: 10px;
    color: #e2e2e2;
}

.Voting__switcher .Voting__lang {
    cursor: pointer;
}

.Voting__switcher .Voting__lang._active{
    color: #e2cf32;
    cursor: default;
}

.Voting__ticketCode {
    display: block;
    margin: 2em auto;
    padding: 0.5em 0.25em;
    border: none;
    border-radius: 0.2em;
    font-size: 1.5em;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}

.Voting__logo {
    width: 75%;
}

.Voting__welcomeText {
    color: #e2e2e2;
    font-family: "PressStart2P";
}

.Voting__copyRight {
    font-size: 0.7em;
    padding: 10px 0 0;
}

.Voting__esterHint {
    user-select: text;
    color: #2d2d2d;
    cursor: pointer;
}

.Voting__selectMenu {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Voting__selectItem {
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.Voting__selectItem:hover {
    color: #e2cf32;
    position: relative;
}

.Voting__selectItem:focus {
    color: #e2cf32;
    position: relative;
    outline: none;
}

.Voting__selectItem:hover::before {
    content: "→";
    position: absolute;
    top: 10px;
    left: -15px;
    color: #e2cf32;
}

.Voting__selectItem:focus::before {
    content: "→";
    position: absolute;
    top: 10px;
    left: -15px;
    color: #e2cf32;
}

.Voting__drawer {
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #eee;
}

.Voting__text {
    font-family: "PressStart2P";
    font-size: 10px;
    line-height: 25px;
    padding: 3em 1em 1em;
}

.Voting__link {
    text-decoration: none;
    color: #e2cf32;
}

.Voting__actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Voting__closeButton {
    position: absolute;
    top: 15px;
    right: 10px;
    text-align: center;
}

.Voting__button {
    font-family: "PressStart2P";
    color: #e2cf32;
}
