.LocationInfo__root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LocationInfo__root._mobile {
    align-items: initial;
}

.LocationInfo__back {
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 1;
}

.LocationInfo__search {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.LocationInfo__background {
    position: fixed;
    z-index: -1;
}

.LocationInfo__backgroundComposition {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.LocationInfo__backgroundImage {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: no-repeat -82px -163px;
    background-size: 1016px;
    filter: blur(5px);
    position: absolute;
}

.LocationInfo__backgroundTrapezoid {
    height: 0;
    width: 100vw;
    border-bottom: 103vh solid #242424;
    border-left: 50vw solid transparent;
    z-index: 1;
    background: rgba(33, 33, 33, .3)
}

.LocationInfo__preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.LocationInfo__circular {
    margin: 60px 0;
}

.LocationInfo__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 600px;
    max-width: 600px;
    margin: 10px 0 50px;
    background-color: #424242;
}

.LocationInfo__containerScroll {
    max-height: 380px;
    height: 40vh;
    overflow: auto;
    margin: 15px 0 30px;
    padding: 0 10px;
    -webkit-overflow-scrolling: touch;
}

.LocationInfo__containerScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #696969;
}

.LocationInfo__containerScroll::-webkit-scrollbar {
    width: 10px;
    background-color: #696969;
}

.LocationInfo__containerScroll::-webkit-scrollbar-thumb {
    background-color: #303030;
    border: 2px solid #303030;
}

.LocationInfo__fullInfo {
    padding: 15px;
    position: relative;
}

.LocationInfo__icons {
    display: flex;
    justify-content: flex-end;
}

.LocationInfo__card {
    min-width: 300px;
}

.LocationInfo__artist {
    padding: 8px;
    color: #888;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.LocationInfo__artistName {
    color: #eee;
    text-transform: none;
}

.LocationInfo__head {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.LocationInfo__title {
    min-width: 300px;
    min-height: 50px;
    text-align: left;
    display: block;
    font-size: 65px;
    line-height: 80px;
    font-family: "Affect";
    color: #eee;
}

.LocationInfo__card {
    background-color: #424242;
}

.LocationInfo__blockImage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.LocationInfo__cover {
    width: 300px;
    height: 170px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.47);
}

.LocationInfo__chips {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0 0;
}

.LocationInfo__chip {
    margin: 0 10px;
}

.LocationInfo__chip._geek {
    background-color: #26c972;
}

.LocationInfo__chip._show {
    background-color: #90309b;
}

.LocationInfo__chip._cyber {
    background-color: #03aac3;
}

.LocationInfo__eventList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.LocationInfo__event {

}

.LocationInfo__event._current {
    background-color: #fdfe2a;
}

.LocationInfo__eventText._current {
    color: #3a3a3a;
}

.LocationInfo__eventText._current > h3 {
    color: #3a3a3a;
}

.LocationInfo__eventText._current > p {
    color: #3a3a3a;
}

.LocationInfo__cardBlock {
    padding-top: 15px;
    display: flex;
}

.LocationInfo__details {
    max-width: 250px;
    min-width: 250px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
}

.LocationInfo__detailTitle {
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    color: #888;
    text-align: left;
}

.LocationInfo__setName {
    font-size: 14px;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.LocationInfo__setIcon {
    display: inline-block;
    padding: 0 3px 5px;
}

.LocationInfo__legalities {
    text-align: left;
    padding-bottom: 12px;
}

.LocationInfo__legality {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 245px;
    font-size: 14px;
    color: #eee;
}

.LocationInfo__legalityName {
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
}

.LocationInfo__textSymbols.ms {
    border-radius: 50%;
    margin: 0 2px;
    background-color: #9c9c9c;
    color: #111;
    font-size: 10px;
}

.LocationInfo__textSymbols-r {
    background-color: #e5a081 !important;
}

.LocationInfo__textSymbols-g {
    background-color: #a3d1a3 !important;
}

.LocationInfo__textSymbols-b {
    background-color: #919191 !important;
}

.LocationInfo__textSymbols-u {
    background-color: #b2e6fb !important;
}

.LocationInfo__textSymbols-w {
    background-color: #FFFFDA !important;
}

.LocationInfo__textBlock {
    padding: 0 15px;
}

.LocationInfo__type {
    font-size: 14px;
    color: #eee;
    text-align: left;
    padding-bottom: 12px;
}

.LocationInfo__manaCost {
    font-size: 14px;
    color: #eee;
    text-align: left;
    padding-bottom: 12px;
}

.LocationInfo__set {
    font-size: 12px;
    color: #eee;
    text-align: left;
    padding-bottom: 12px;
}

.LocationInfo__printings {
    text-align: left;
    padding-bottom: 12px;
}

.LocationInfo__textInfo {
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
    padding: 7px;
    border: 2px solid #333;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #eee;
}

.LocationInfo__textFlavor {
    font-size: 12px;
    font-style: italic;
    color: #bbb;
}
